.tabs {
  &__item {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 1rem 1.1rem;
    font-size: 1rem;
    color: $color-assets;
    font-weight: $weight-semibold;
    cursor: pointer;
  }

  &__panel {
    min-height: 420px;
    display: none;
    width: 100%;
    flex-basis: auto;
    padding-top: 25px;
  }
}

#tabOne:checked ~ .tabs #tabOneLabel,
#tabTwo:checked ~ .tabs #tabTwoLabel {
  color: $color-black;
  border-bottom: 2px solid $color-assets;
  cursor: default;
}

#tabOne:checked ~ .tabs #tabOnePanel,
#tabTwo:checked ~ .tabs #tabTwoPanel {
  display: block;
}
